@charset "utf-8";

.ml5 {margin-left:5px;}
.mr5 {margin-right:5px;}
.mb5 {margin-bottom:5px;}
.mt5 {margin-top:5px;}

.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.mb10 {margin-bottom:10px;}
.mt10 {margin-top:10px;}

.pa5 {padding:5px;}
.tac {text-align:center;}