@charset "utf-8";

.ml5 {margin-left:5px;}
.mr5 {margin-right:5px;}
.mb5 {margin-bottom:5px;}
.mt5 {margin-top:5px;}

.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.mb10 {margin-bottom:10px;}
.mt10 {margin-top:10px;}

.pa5 {padding:5px;}

#boardModule .inputText, 
#boardModule .inputTextarea {padding:3px 3px; font:12px Tahoma, Geneva, sans-serif; border:1px solid #b7b7b7; background:transparent; color:#666;}
#boardModule .inputSelect {font-size:11px; padding:1px 1px;}
#boardModule .inputText.keyword {width:200px;}
#boardModule .inputText.nickname, .inputText.password {width:100px;}
#boardModule .inputText.email,
#boardModule .inputText.homepage {width:250px;}
#boardModule .inputText.tag {width:90%;}
#boardModule .inputText.captcha {width:100px;}
#boardModule .inputTextCalendar {height:15px; padding:2px; border:1px solid #dcdde3; letter-spacing:0; font:12px Tahoma, Geneva, sans-serif; color:#666;}
textarea {width:90%;}
#boardModule .inputText.comment_nickname,
#boardModule .inputText.comment_password {width:80px;}
#boardModule .inputText.comment_homepage,
#boardModule .inputText.comment_email {width:150px;}
#boardModule .inputText.post {width:200px;}
#boardModule .inputText.addr {width:400px;}
#boardModule table caption {display: none;}

#boardModule .krZip .zipLabel {display:block; position:static; left:4px; top:2px; white-space:nowrap; color:#666;}
#boardModule .krZip .item {position:relative; margin:0 0 5px 0}