@charset "utf-8";

/*input, select, textarea, button {font-size:100%; vertical-align:middle;}*/

ul, ul li {margin:0; padding:0; list-style: none;}
ol, ol li {margin:0; padding:0; list-style: none; }
dl, dl dt, dl dd {margin:0; padding:0; list-style: none;}
select {font-size:12px;}

.ml5 {margin-left:5px;}
.mr5 {margin-right:5px;}
.mb5 {margin-bottom:5px;}
.mt5 {margin-top:5px;}

.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.mb10 {margin-bottom:10px;}
.mt10 {margin-top:10px;}

.h26 {height:26px;}

#bodyWrap {padding:15px 20px; margin:0 auto;}
#popupWrap {padding:0; margin:0 auto;}
legend {visibility:hidden; width:0; height:0; overflow:hidden; position:absolute; top:-10000px; font-size:0; line-height:0;}
fieldset {border:0 none;}

/*--------------------------------------------------------------------------------
			form style class
--------------------------------------------------------------------------------*/
.btn_area {clear:both;padding-top:20px; text-align:center;}
.btn_area form {display:inline;}

input.ssn {width:100px;}
input.name, input.userid {width:120px;}
input.nick_name {width:160px;}
input.email {width:110px;}
input.auth_email {width:220px;}
input.tel {width:50px;}
input.corpnum1 {width:40px;}
input.corpnum2 {width:30px;}
input.corpnum3 {width:60px;}
input.password {width:160px;}
input.outmemo {width:300px;}
input.group_name {width:250px;}
input.all {width:98%;}
input.post {width:200px;}
input.addr {width:400px;}

.radio_form {list-style:none; clear:both; height:20px;}
.radio_form dd {list-style:none; float:left; margin-right:30px;}

/*--------------------------------------------------------------------------------
			font style class
--------------------------------------------------------------------------------*/
em {font-style:normal;}
.fontlink {text-decoration:underline;}
.fontstrong {font-weight:bold;}
.number {letter-spacing:0;}

.wd500 {width:500px;}
.wd600 {width:600px;}